# Specific paths
xyzopt/

# Jupyter / iPython
.ipynb_checkpoints
profile_default/
ipython_config.py

# OS-specific
.DS_Store
.DS_Store?
.Trashes
Thumbs.db

# Sphinx
_build/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
